img.dynamic {
  transition: 0.4s;
}
img.loadImg {
  opacity: 0 !important;
  transform: translateY(-20%);
}
.img-ratio {
  width: 110px;
  @media screen and (max-width: 800px) {
    width: 95px;
  }
  flex-shrink: 0;
  height: fit-content;
  position: relative;
  .ratio-box {
    width: 100%;
    padding-top: 135%;
    img.ratio {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      border: 3px solid var(--soft);
    }
    .loader {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      margin: auto auto;
    }
  }
  
}

img.expanded {
  position: fixed;
  max-height: 80vh;
  max-width: 80vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto auto;
}