.social-container {
    height: 100%;
    width: var(--header-size);
    box-shadow: var(--boxshadow);
    background: var(--module);
    position: relative;
    z-index: 14;
    right: 0px;
    transition: 0.15s;
    .user {
        height: 60px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        overflow: hidden;
        &:hover {
            background: var(--soft);
        }
        .avatar {
            min-width: var(--header-size);
            padding: 7px;
        }
    }
    section.chat-container {
        width: 350px;
        height: 100%;
        position: absolute;
        top: 0;
        right: var(--header-size);
        z-index: 14;
        background: var(--module);
        box-shadow: -2px 0 3px rgba(0,0,0,0.15);
        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.3);
            z-index: 0;
        }
        .chat-content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;

            .chat-head {
                padding:0.7rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .chat-head-user-infos {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .avatar {
                        width:40px;
                        height: 40px;
                        object-fit: cover;
                        border-radius: 9999px;
                    }
                    .username {
                        padding-left:0.5rem;
                    }
                }
               
                .hide-chat {
                    font-size:1.2rem;
                    cursor: pointer;
                    border-radius:9999px;
                    padding:0.6rem;
                    padding-left:0.75rem;
                }
                .hide-chat:hover {
                    background:var(--soft);
                }
            }
            .messages {
                flex-grow: 1;
                overflow-y: scroll;
                border-top : solid 1px var(--soft);
                border-bottom : solid 1px var(--soft);
            }
            
            form {
                width: 100%;
                padding: 14px;
                input {
                    width: 100%;
                    height: 45px;
                }
            }
        }
    }
}
