.feed {
  animation: 0.5s fromTop ease-in-out;

  .info {
    display: flex;
    img{
      width: 55px;
      height: 55px;
      object-fit: cover;
      object-position: center;
      border-radius: 5px;
      background: var(--theme);
      border-radius: 50%;
    }
  }
  p {
    margin-bottom: 0;
  }
  .username {
    display :flex;
    align-items: center;
    i {
      opacity: 1;
      color: var(--theme);
      font-size: 12px;
      margin-left: 5px;
    }
  }
  .feed-tools {
    i {
      font-size: 20px;
      opacity: 0.7;
      cursor:pointer;
      &.fa-heart:hover {
        color: var(--red);
      }
      &.fa-comment:hover {
        color: var(--blue);
      }
    }
    span {
      opacity: 0.5;
      transition: 0.2s;
    }
    i:hover + span {
      opacity: 0.7;
    }
  }
  .liked {
    color: var(--red);
  }
  .commented {
    color: var(--blue);
  }
  .content-images {
    position: relative;
    cursor: pointer;
    max-height: 250px;
    overflow: hidden;
    transition: 0.35s;
    img {
      margin-top: 14px;
      width: 100%;
    }
    &:hover .expand {
      bottom: 1.5rem;
      opacity: 1;
    }
    .expand {
      position: absolute;
      width: 1rem;
      height: 1rem;
      margin: 0 auto;
      font-size: 1.4rem;
      left: 0;
      right: 0;
      bottom: 0rem;
      opacity: 0;
      color: white;
      text-shadow: 0 2px 3px rgba(0,0,0,0.5);
      transition: 0.33s;
      transition-timing-function:ease-in-out;
    }
    &.open .expand {
      transform: rotateZ(180deg);
    }
  }
  .content-footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}