.feed {
  h1 {
    font-size: 1.3rem;
  }
  h2, h3, h4, h5, h6 {
    font-size: 1.15rem;
  }
  table {
    width: 100%;
    border: 2px solid var(--soft);
    th {
      padding: .2rem .4rem;
      text-align: center;
      border: 1px solid var(--soft);
      border-bottom: 2px solid var(--soft);
      background: var(--soft);
    }
    td {
      border: 1px solid var(--soft);
      padding: .2rem;
    }
  }
  .info {
    display: flex;
    position: relative;
    img.avatar{
      width: 55px;
      height: 55px;
      object-fit: cover;
      object-position: center;
      background: var(--theme);
      border-radius: 6px;
      z-index: 1;
    }
    .skin {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      z-index: 0;
      opacity: 0.5;
      .gradient {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        background: linear-gradient(transparent, var(--module-soft2));
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
      }
    }
    
  }
  .content {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  p {
    margin-bottom: 0;
  }
  .username {
    display :flex;
    align-items: center;
    i {
      opacity: 1;
      color: var(--theme);
      font-size: 12px;
      margin-left: 5px;
    }
  }
  .feed-tools {
    .tool-element {
      padding: 0.1rem 0.65rem;
      margin-left: 5px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      cursor: pointer;
      .icon-icon {
        margin-right: 6px;
        svg path {
          fill-opacity: 0.9;
        }
      }
      &:hover {
        background: var(--soft);
        .icon-icon svg path{
          fill-opacity: 1;
        }
      }
      i {
        font-size: 0.9rem;
        opacity: 0.6;
        cursor:pointer;
        transition: 0.1s;
      }
      span {
        opacity: 0.5;
        transition: 0.2s;
      }
      i:hover + span {
        opacity: 0.7;
      }
    }
  }
  .liked {
    color: var(--red);
  }
  .commented {
    color: var(--blue);
  }
  .content-images {
    display: block;
    width: calc(100% - 40px);
    margin: 10px 20px 2px 20px;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 45.25% 0 0 0; /* 34.37% = 100 / (w / h) = 100 / (640 / 220) */
    flex-shrink: 0;
    cursor: pointer;
    transition: 0.35s;
    box-shadow: var(--boxshadow);
    img {
      display: block;
      width: 100%;
      max-height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: cover;
      border: 2px solid var(--soft);
    }
  }
  .content-footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.feed-content {
  animation: 0.8s cardIn ease-in-out;
  background: var(--module);
   .box {
     border-radius: 0 ;
   }
}