.experience-bar {
    width: 0;
    height: 10px;
    background: var(--theme);
    opacity: 0.8;
    transition: 0.2s;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    .progress {
        position: absolute;
        right: 5px;
        margin-top: -30px;
        border-radius: 50px;
        padding: 0 .5rem;
        width: auto;
        height: 25px;
        background:var(--header);
        opacity: 0;
        transition: 0.2s;
        color: white;
        display: flex;
        align-content: center;
        justify-content: center;
        line-height: 25px;
    }
    &::before {
      content:'';
      position: absolute;
      width: 100%;
      height: 10px;
      background: var(--soft);
    }
    &:hover {
      opacity: 0.95;
      .progress {
          opacity: 1;
      }
    }
  }