#player {
    min-width: 100%;
    flex-grow: 1;
    min-height: 50px;
    background: var(--module);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border-top: 8px solid var(--soft);
    z-index: 8;
}