#player {
    width: calc(100% - var(--header-size));
    flex-grow: 1;
    min-height: 0px;
    max-height: 140px;
    height: 0;
    position: relative;
    background: rgba(var(--module2), 1);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    z-index: 8; 
    transition: 0.2s ease-out;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    margin-left: var(--header-size);
    overflow: hidden;
    @media screen and (max-width: 800px){
        margin-left: 0;
        width: 100%;
    }
    img.splash {
        width: 100%;
        height: 100%;
        opacity: .2;
        position: absolute;
        z-index: 0;
        top: 0;
        object-fit: cover;
        object-position: center;
        z-index: 0;
        filter: blur(0px);
        user-select: none;
    }
    &.show {
        min-height:110px;
        @media screen and (max-width: 800px){
            min-height: 140px;
        }
        opacity: 1;
        visibility: visible;
    }
    .info {
        display: flex;
        flex-grow: 1;
        height: 100%;
        position: relative;
        z-index: 2;
        @media screen and (max-width: 800px){
            flex-direction: column-reverse;
        }
        .data {
            flex: 1 1 0;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 1;
            @media screen and (max-width: 800px){
                padding: 7px 0;
            }
            .ost-data {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: .9rem;
                line-height: 1.1rem;
                .game-title {
                    opacity: .7;
                }
                .like-ost-container {
                    margin-top: .4rem;
                    justify-content: left;
                }
            }
            img {
                height: 80px;
                margin: 0 .7rem;
                position: relative;
                @media screen and (max-width: 800px){
                    height: 40px;
                }
            } 
        }
        .actions {
            flex: 1 1 0;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 800px){
                padding: 7px 0;
            }
            i {
                &.fa-play, &.fa-pause {
                    font-size: 1.5rem;
                }
                &.fa-random, &.fa-redo-alt {
                    font-size: .9rem;
                    opacity: .6;
                }
                margin: 0 2rem;
                font-size: 1.2rem;
                cursor: pointer;
                transition: 0.2s ease-out;
                &:hover {
                    color: var(--theme);
                    transform: scale(1.2);
                }
            }
            .middle-button {
                width: 6rem;
                display: flex;
                justify-content: center;
            }
            .player-current-time {
                opacity: .9;
                background: rgba(255,255,255,0.15);
                font-size: .7rem;
                position: absolute;
                bottom: 5px;
                border-radius: 4px;
                text-align: center;
                border: 1px solid var(--soft);
                padding: .1rem .3rem;
            }
        }
        .right {
            flex: 1 1 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            @media screen and (max-width: 800px){
                display: none;
            }
            padding: 0 14px;
        }
    }
}
.player-progress {
    height: 12px;
    min-height: 12px;
    background: var(--theme);
    width: 0;
    transition: .2s linear;
    z-index: 2;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 12px;
        background: rgba(var(--themergb), .3);
    }
    &:hover {
        opacity: .7;
    }
}
.video-container {
    position: absolute;
}
input.range-progress {
    appearance: none;
    position: absolute;
    width: 100%;
    height: 12px;
    background: none;
    margin: 0; padding: 0;
    z-index: 2;
    &:focus-within {
        border: none;
    }
    &::-webkit-slider-thumb {
        opacity: 0;
    }
    &::-moz-range-thumb {
        opacity: 0;
    }
}