$progress-bar-height: 12px;
$minimized-height: 64px;
$maximized-height: 110px;
#player {
    width: 100%;
    flex-grow: 1;
    height: 0;
    position: relative;
    background: var(--module);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    z-index: 8; 
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    opacity: 0;
    img.splash {
        width: 100%;
        height: 100%;
        opacity: .2;
        position: absolute;
        z-index: 0;
        top: 0;
        object-fit: cover;
        object-position: center;
        z-index: 0;
        filter: blur(0px);
        user-select: none;
    }
    &.show {
        min-height: $minimized-height;
        @media screen and (max-width: 800px){
            min-height: 140px;
        }
        opacity: 1;
        visibility: visible;
        &:hover {
            min-height: $maximized-height;
            .info .data a {
                visibility: visible;
                opacity: 1;
                max-height: 1rem;
            }
            .info .data {
                .ost-data .like-ost-container {
                    visibility: visible;
                    opacity: 1;
                    max-height: 3rem;
                    margin-top: .4rem;
                }
                img.player-relative-cover {
                    margin: 0 .7rem 0 .7rem;
                }
            }
            .actions .player-current-time {
                visibility: visible;
                opacity: .9;
            }
            .actions i {
                &.fa-play, &.fa-pause {
                    // font-size: 1.4rem;
                }
                &.fa-random, &.fa-redo-alt {
                    // font-size: .8rem;
                    opacity: .6;
                }
            }
        }
    }
    .info {
        display: flex;
        flex-grow: 1;
        height: calc(100% - #{$progress-bar-height});
        position: relative;
        z-index: 2;
        @media screen and (max-width: 800px){
            flex-direction: column-reverse;
        }
        .data {
            flex: 1 1 0;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 1;
            @media screen and (max-width: 800px){
                padding: 7px 0;
            }
            a {
                visibility: hidden;
                opacity: 0;
                transition: .2s ease-in-out;
                max-height: 0;
                display: block;
            }
            .ost-data {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: .9rem;
                line-height: 1.1rem;
                .game-title {
                    opacity: .7;
                }
                .like-ost-container {
                    margin-top: 0;
                    visibility: hidden;
                    opacity: 0;
                    justify-content: left;
                    display: block;
                    max-height: 0;
                    transition: .2s;
                }
            }
            img.player-relative-cover {
                height: 80px;
                margin: -46px .7rem 0 .7rem;
                bottom: .5rem;
                border: 3px solid var(--bg);
                transition: .3s ease-in-out;
            }
        }
        .actions {
            flex: 1 1 0;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 800px){
                padding: 7px 0;
            }
            i {
                &.fa-play, &.fa-pause {
                    font-size: 1.2rem;
                }
                &.fa-random, &.fa-redo-alt {
                    font-size: 0.9rem;
                    opacity: .8;
                    
                    &.selected {
                        color: var(--theme);
                        opacity: 1;
                        background: rgba(var(--themergb), 0.13);
                        border-radius: 50px;
                    }
                }
                margin: 0 1.5rem;
                font-size: 1.0rem;
                cursor: pointer;
                transition: 0.05s ease-out;
                padding: 10px;
                &:hover {
                    color: var(--theme);
                    // transform: scale(1.2);
                }
            }
            .middle-button {
                width: 6rem;
                display: flex;
                justify-content: center;
            }
            .player-current-time {
                opacity: .9;
                background: rgba(255,255,255,0.15);
                font-size: .7rem;
                position: absolute;
                bottom: 5px;
                border-radius: 99px;
                text-align: center;
                border: 1px solid var(--soft);
                padding: .05rem .3rem;
                visibility: hidden;
                opacity: 0;
                transition: .2s ease-in-out;
            }
        }
        .right {
            flex: 1 1 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            @media screen and (max-width: 800px){
                display: none;
            }
            padding: 0 14px;
        }
    }
}
.player-progress {
    height: 12px;
    min-height: 12px;
    background: var(--theme);
    width: 0;
    transition: .2s linear;
    z-index: 2;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 12px;
        background: rgba(var(--themergb), .3);
    }
    &:hover {
        opacity: .7;
    }
}
.video-container {
    position: absolute;
}
input.range-progress {
    appearance: none;
    position: absolute;
    width: 100%;
    height: 12px;
    background: none;
    margin: 0; padding: 0;
    z-index: 2;
    &:focus-within {
        border: none;
    }
    &::-webkit-slider-thumb {
        opacity: 0;
    }
    &::-moz-range-thumb {
        opacity: 0;
    }
}