  .switch-layout {
    display: flex;
    background: rgba(0,0,0,0.15);
    border-radius: 99px;
    overflow: hidden;
    width: 45px;
    transition: 0.15s ease-in-out;
    &:hover {
      width: 135px;
    }
    i {
      display: flex;
      min-width: 45px;
      flex-basis: 45px;
      height: 100%;
      border-radius: 99px;
      align-items: center;
      justify-content: center;
      order: 2;
      cursor: pointer;
      &.active {
        background: var(--header);
      }
    }
  }