.login-popup {
    width: 100%;
    max-width: 800px;
    background: var(--module);
    height: 500px;
    border: 1px solid rgba(var(--colorrgb),0.3);
    box-shadow: 0 0 12px rgba(var(--invertrgb), 1);
    position: relative;
    display: flex;
    overflow: hidden;
    pointer-events: auto;
    .login-head {
        background: var(--soft);
        height: 40px;
        width: 100%;
        position: absolute;
        border-bottom: 1px solid var(--soft);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 .5rem;
        img {
            height: 70%;
        }
    }
    .info-wrapper {
        border-left: 1px solid var(--soft);
        box-shadow: 0 0 6px rgba(var(--invertrgb), 1);
        background: linear-gradient(var(--bg), rgba(var(--invertrgb),0.5));
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 55px;
        width: 45%;
        color: white;
        padding: 55px 2rem;
        span {
            text-align: center;
        }
        .info-item {
            width: 100%;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:nth-child(even){
                background: var(--soft);
            }
            b {
                margin-right: .25rem;
            }
        }
        input {
            max-width: 300px;
            width: 100%;
            height: 40px;
            border-radius: 6px;
            display: block;
            background: rgba(0,0,0,0.6);
            color: white;
        }
        label {
            font-size: .9rem;
            opacity: 0.6;
            margin-bottom: 0;
        }
        button {
            width: fit-content;
        }
    }

    .login-wrapper {
        height: 100%;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        position: relative;
        overflow: hidden;
    }
}

.bg-login {
    // position: absolute;
    // background: url("/f/skin/39.jpg") center no-repeat;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // width: 100%;
    // height: 100%;
    // z-index: 0;
    // background-size: cover;
    // opacity: 0.6;

    position: relative;
    height: 100%;
    width: 100%;
    animation-name: sideupscroll;
    animation-duration: 50s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    // overflow: hidden;

    &:before {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 500%;
        height: 100%;
        content: "";
        background: url("/f/skin/39.jpg") 0 0 var(--header);
        background-size: cover; 
        transition: background-image 1.5s;
    }
    @keyframes sideupscroll {
        0% {
          transform: translateX(0%)
        }
        50% {
            transform: translateX(-400%)
          }
        100% {
            transform: translateX(0%)
        }
      }
}

.relative {
    position: relative;
}
.z1 {
    z-index:1;
}