.right .like {
    margin-top: -4px;
    font-size: 0.7rem;
    transition: 0.15s;
}
.like-ost-count, .like-ost-container i {
    opacity: 0.6
}
.liked {
    .like-ost-count, i {
        color: rgb(255, 132, 132);
        opacity: 1;
    }
}
.like-ost-count {
    margin-right: 7px;
    font-size: .95rem;
}
.like-ost-container {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    i {
        margin-right: .25rem;
    }
    &:hover {
        .like {
            color: var(--theme);
            transform: scale(1.1);
        }
    }
}