html {
    --header-size: 60px;
    --aside-size: 260px;
    --bg: #eee;
    --module: #fff;
    --header: #5960a1;
    --color: #333;
    --theme: #5960a1;
    --soft: rgba(0,0,0,0.08);
    --boxshadow: 0 2px 3px rgba(0,0,0,0.13);
    --border: none;
    --themergb: 150, 175, 255;
    --module2: 255, 255, 255;
    --colorrgb: 0, 0, 0;
  }