html {
    --header-size: 60px;
    --aside-size: 260px;
    --bg: rgb(20, 16, 10);
    --module: rgb(32, 28, 25);
    --header: rgb(124, 35, 35);
    --color: rgba(232, 232, 239, 1);
    --theme: rgb(255, 197, 150);
    --soft: rgba(255,255,255,0.05);
    --boxshadow: 0 0px 3px rgba(0,0,0,0.22);
    --border: none;
    --themergb: 255, 197, 150;
    --module2: 25, 28, 39;
    --colorrgb: 255, 255, 255;
  }