html {
    --header-size: 60px;
    --aside-size: 260px;
    --bg: rgb(34, 34, 49);
    --module: rgb(38, 57, 80);
    --header: rgb(127, 83, 197);
    --color: rgba(229, 229, 239, 1);
    --theme: rgb(201, 153, 255);
    --soft: rgba(255,255,255,0.05);
    --boxshadow: 0 0px 4px rgba(0,0,0,0.2);
    --border: none;
    --themergb: 201, 153, 255;
    --module2: 56, 58, 80;
    --colorrgb: 255, 255, 255;
    --invertrgb: 0, 0, 0;
  }