aside {
  background: var(--module);
  height: 100%;
  width: var(--aside-size);
  flex-shrink: 0;
  min-width: var(--header-size);
  transition: 0.2s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--boxshadow);
  z-index:10;
  &.aside-fold {
      width: var(--header-size);
  }
  a {
      width: var(--aside-size);
      color: inherit;
      text-decoration: none;
      &:hover {
          color: inherit;
          text-decoration: none;
      }
      &.active {
        .button {
          border-left: 4px solid var(--theme);
          background: var(--soft);
          box-shadow: 0 0 4px var(--soft) inset;
        }
      }
  }
  .button {
      height: var(--header-size);
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 16px;
      color: var(--color);
      border-left: 4px solid transparent;
      cursor: pointer;
      &:hover {
          background: var(--soft);
      }
      i {
          margin-right: 5px;
          opacity: 0.6;
          flex-shrink: 0;
          width: calc(var(--header-size) - 4px);
          padding-right: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
      }
  }
}
section#main {
  width: 100%;
  height: calc(100% - var(--header-size));
  display: flex;
}
@media screen and (max-width: 1400px){
  aside {
    position: fixed;
    z-index: 10;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    &.aside-fold {
      box-shadow: var(--boxshadow) !important;
    }
  }
}
@media screen and (max-width: 800px){
  aside {
    width: 260px;
    transform: translateX(0%);
    position: fixed;
    z-index: 10;
    &.aside-fold {
      width: 260px;
      transform: translateX(-100%);
    }
    i.aside-action {
      width: var(--header-size) !important;
    }
  }
}