@keyframes fromTop {
  from { opacity: 0; transform: translateY(-10rem); }
}
.game-item {
  min-width: 400px;
  flex-basis: 400px;
  flex-grow: 1;
  padding: .5rem;
  height: fit-content;
  animation: 0.5s fromTop ease-in-out;
  display: flex;
  flex-shrink: 0;
}
.game-item a {
  color: var(--color);
  font-weight: 600;
  opacity: 1;
  line-height: 0.9rem;
}
.game-item a:hover {
  color: var(--theme);
}
.game-item span.date {
  font-size: .9rem;
}
.game-item img {
  height: 135px;
  transition: 0.3s;
  border: 3px solid var(--soft);
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  margin-right: .4rem;
}
span.console {
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 .6rem;
  font-size: 0.7rem;
  border: 2px solid var(--soft);
}