.games{
  .game-item {
    padding: .35rem;
    height: auto;
    animation: 0.75s cardIn ease-out;
    display: flex;
    flex-grow: 1;
    max-width: 100%;
    min-width: 250px;
    flex-basis: 400px;
    position: relative;
    background: var(--module);
    opacity: 1;
    &:hover {
      img.bg-game {
        opacity:0.4;
      }
    }
    .game-item-content {
      z-index: 1;
      display: flex;
      flex-grow: 1;
      flex-basis: 400px;

      .gi-infos {
        line-height: 1.2rem;
      }

      .rank-icon {
        position: relative;
        width:45px;
        .bg-rank-icon {
          position: absolute;
          width:100%;
        }
        .rank-number {
          margin-top:0.15rem;
          font-size:0.9em;
          sup {
            font-size:0.6em;
          }
        }
      }
      
    }
    img.bg-game {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      top:0;
      bottom:0;
      left:0;
      right:0;
      opacity: 0.25;
    }
    a {
      color: var(--color);
      font-weight: 600;
      opacity: 1;
      line-height: 1rem;
      &:hover {
        color: var(--theme);
      }
    }
    span {
      &.date {
        font-size: .9rem;
        opacity: 0.6;
      }
    }
  }
}
.view-box {
  display: flex;
  justify-content: stretch;
  .gi-infos {
    display: none;
  }
  .game-item {
    padding: 0;
    min-width: 150px;
    max-width: 250px;
    flex-basis: 120px;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    cursor: pointer;
    .game-item-content {
      flex-basis: unset;
      .img-ratio {
        width: 100%;
      }
    }
    img.dynamic {
      transition: border 0s, transform 0.4s, filter 0.1s;
    }
    img.bg-game {
      display: none;
    }
    &:hover {
      img.ratio {
        border-color: rgb(120, 169, 231);
      }
    }
    span.console {
      display: none;
    }
    a {
      line-height: 1.2rem;
      display: none;
    }
    img {
      width: 100%;
      object-fit: cover;
      margin-right: 0;
    }
    .flex-column {
      flex-direction: column !important;
      margin-bottom: 0;
    }
  }
}
span.console {
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .2rem 1.2rem;
  font-size: 0.7rem;
}