.comment-textarea {
    border: 1px solid var(--soft) !important;
    background: var(--soft) !important;
    border-radius : 6px;
    height: 35px !important;
    line-height: 35px;
    padding: 0 1rem;
}

.new-comment {
    background: var(--bg-l2);
    border-bottom: 1px solid var(--module-soft2);
}
.postComment-form {
    animation: grow 1s ease-in-out
}