.dropdown {
  max-width: 100vw;
  width: 410px;
  height: 100vh;
  background: var(--module);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  right: -100px;
  top: 0;
  transition: 0.5s;
  border-left: 2px solid var(--soft);
  &.open {
    right: 0px;
    opacity: 1;
    visibility: visible;
  }
}
