header {
    min-height: var(--header-size);
    flex-basis: var(--header-size);
    width: 100%;
    background: var(--header-gradient);
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
    color: white;
    box-shadow: var(--boxshadow);
    position: relative;
    z-index: 15;
    .header-user-info {
        @media screen and (max-width: 1000px){
            display: none;
        }
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        margin-right: 1rem;
        line-height: 1rem;
        position: relative;
        span.name {
            font-size: 1rem;
            font-weight: 600;
        }
        span.level {
            color: rgba(255, 255, 255, 0.7);
            font-size: .9rem;
            font-weight: 200;
            span.highlight {
                color: white;
            }
        }
    }
    .item {
        flex: 1 1 0px;
        display: flex;
        align-items: center;
        // border: 1px solid rgba(255, 255, 255, 0.3);
        &.search-bar {
            justify-content: center;
        }
        i.aside-action {
            width: var(--header-size);
            font-size: 22px;
            height: 100%;
            background: rgba(255,255,255,0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s;
            cursor: pointer;
            &:hover {
                background: rgba(255,255,255,0.2);
            }
        }
    }
    .main-nav {
        @media screen and (max-width: 1100px){
            min-width: unset;
        }
        min-width: var(--main-width);
        max-width: var(--main-width);
        flex-grow: 1;
        .nav-container {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            a {
                position: relative;
                transition: 0.2s;
                overflow: hidden;
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    top: 0;
                    bottom: 0;
                    margin: auto auto;
                    height: calc(var(--header-size) - 15px);
                    border-radius: 8px;
                    background: var(--soft);
                    opacity: 0;
                    transition: 0.2s;
                }
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 14px;
                    background: var(--theme);
                    border-radius: 10px;
                    bottom: -10px;
                    opacity: 0;
                    transition: 0.4s;
                }
                &.active {
                    &::after {
                        opacity: 0.75;
                    }
                }
                &:hover {
                    &::before {
                        opacity: 1;
                    }
                }
                margin: 0 4px;
                display: block;
                height: calc(var(--header-size));
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--color);
                flex: 1 1 0px;
                text-align: center;
                max-width: 150px;
            }
        }
    }
    i.aside-action {
    width: var(--header-size);
    font-size: 22px;
    height: 100%;
    background: rgba(255,255,255,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}
    #buttons {
        height: 100%;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .header-avatar {
            margin-right: 21px;
        }
        i {
            font-size: 1.2rem;
        }
        .icon-button {
            width: 42px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.1s;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 4px;
                border: 2px solid rgba(255,255,255,0);
            }
            &:hover {
                background: rgba(255,255,255,0.05);
                img {
                    border: 2px solid rgba(255,255,255,0.6);
                    
                }
            }
            &:active {
                background: rgba(255,255,255,0.15);
            }
        }

    }
    #logo {
        width: calc(var(--header-size) + 10px);
        height: var(--header-size);
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 60%;
        }
    }
}