table.osts {
    animation: appear 0.4s ease-in-out;
    width: 100%;
    background: var(--module);
    tr {
        &:nth-child(2n+1) {
            background: var(--soft);
        }
        &:hover {
            background: rgba(var(--themergb), 0.2);
        }
        transition: 0.1s;
        height: 50px;
        vertical-align: middle;
        border-left: 4px solid transparent;
        &.active {
            border-left: 4px solid var(--theme);
        }
    }
    td, th {
        padding-left: 14px;
        padding-right: 14px;
    }
    td {
        &.play, &.like, &.stop {
            margin-right: 5px;
            width: 50px;
            text-align: center;
            font-size: 1rem;
            padding: 0;
            cursor: pointer;
            i {
                transition: 0.1s;
            }
            &:hover {
                background: var(--soft);
                i {
                    color: var(--theme);
                    transform: scale(1.5) rotateZ(-5deg);
                }
            }
        }
        &.stop {
            color: rgb(218, 89, 89);
        }
    }
}