table.osts {
    animation: appear 0.4s ease-in-out;
    width: 100%;
    background: var(--module);
    tr {
        &:nth-child(2n+1) {
            background: var(--soft);
        }
        &.unplayable {
            background: rgba(255, 79, 79, 0.35);
            &:nth-child(2n+1) {
                background: rgba(255, 79, 79, 0.3);
            }
        }
        &:hover {
            background: rgba(var(--themergb), 0.2);
        }
        transition: 0.1s;
        height: 50px;
        vertical-align: middle;
        border-left: 4px solid transparent;
        &.active {
            border-left: 4px solid var(--theme);
        }
    }
    td, th {
        padding-left: 14px;
        padding-right: 14px;
        position: relative;
    }
    td {
        &.play, &.stop {
            margin-right: 5px;
            max-width: 50px;
            width: 50px;
            text-align: center;
            font-size: 1rem;
            padding: 0;
            cursor: pointer;
            i {
                transition: 0.1s;
            }
            &:hover {
                background: var(--soft);
                i {
                    color: var(--theme);
                    transform: scale(1.5) rotateZ(-5deg);
                }
            }
        }
        &.stop {
            color: rgb(218, 89, 89);
        }
        &.listens {
            width: 0px;
            height: 50px;
            padding: 0;
            text-align: right;
            color: var(--color);
            opacity: .6;
            font-size: 0.8rem;
            vertical-align: center;
            i {
                margin-top: -4px;
                font-size: 0.7rem;
            }
            span {
                margin-left: 0.25rem;
            }
        }
        &.like {
            .like-ost-container {
                width: 70px;
                padding-right: 0.8rem;
                justify-content: flex-end;
            }
            .like-ost-count {
                font-size: 0.8rem;
            }
            width: 40px;
            height: 50px;
            text-align: center;
            padding: 0;
            cursor: pointer;
            i {
                font-size: 0.7rem;
                transition: 0.1s;
            }
            &:hover {
                i {
                    color: var(--theme);
                    transform: scale(1.25);
                }
            }
        }
    }
}