img.loadImg {
  opacity: 0;
  transition: 0.2s;
  &.loaded {
      opacity: 1;
  }
}
.img-ratio {
  width: 110px;
  @media screen and (max-width: 800px) {
    width: 95px;
  }
  flex-shrink: 0;
  height: fit-content;
  position: relative;
  .ratio-box {
    width: 100%;
    padding-top: 135%;
    img.ratio {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      border: 3px solid var(--soft);
    }
  }
  
}