.filter-panel {
    background:var(--module);
}

.filter-category {
    .head {
        height: 2.8rem;
        background: rgba(0,0,0,0.1);
        margin-top: 1px;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        cursor:pointer;
        justify-content: space-between;

        span.quantity {
            opacity: .6;
            font-size: .9rem;
        }

        .current-filters {
            border-radius: 99px;
            height: 1.8rem;
            background: rgba(0,0,0,0.1);
            font-size: .9rem;
            padding: .8rem;
            display: flex;
            align-items: center;
            span {
                opacity: .8;
            }
            i {
                margin-left: 1rem;
                margin-top: 2px;
                opacity: .5;
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
    .selected-item {
        background:rgba(0,0,0,0.18);
        padding: .3rem .6rem 0 .6rem;
        &:empty {
            display: none;
        }
        .si-item {
            font-size:0.8rem;
            background:var(--header);
            padding:2px 8px;
            border-radius:999px;
            display:inline-flex;
            align-items: center;
            cursor:pointer;
            margin-right: .4rem;
            margin-bottom: .4rem;

            i {
                margin-left: 0.7rem;
                margin-top: 3px;
                opacity: .5;
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
    .content {
        max-height: 350px;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
        padding: 3px 5px;
        .item {
            padding-top: 40%;
            background: var(--soft);
            margin: 5px;
            border-radius: 6px;
            position: relative;
            cursor:pointer;
            overflow: hidden;
            opacity: 1;
            border : solid 3px var(--soft);
            transition: 0.15s;
            
            .img-item {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top:0;bottom:0;left:0;right:0;
            }
            img {
                max-height: 70%;
                max-width: 75%;
                object-fit: cover;
      
            }
        }
        .selected {
            border : solid 3px var(--theme);
            filter: none;
            opacity: 1;
        }
    }
}

.btn-unselect-all {
    margin:auto;
    width:fit-content;
    background:rgba(0,0,0,0.25);
    padding: 0.2rem 3rem;
    border-radius:999px;
    cursor:pointer;
}

.search-filter {
    outline:none;
    background:none;
    border:none;
    font-size: 14pt;
    &:focus {
        border: none;
    }
}
