@media screen and (max-width: 800px){
  .games {
    grid-template-columns: repeat(auto-fit, minmax(auto, auto)) !important;
  }
}
.games {
  width: calc(100% + 14px);
  display: flex;
  flex-wrap: wrap;
  margin-left: -7px;
  margin-right: -7px;
}
.panel-games {
  margin-bottom:16px;
  .rank-select {
    background:rgba(0,0,0,0.15);
    padding:0.4rem 1.7rem;
    border-radius:999px;
    box-sizing: border-box;
    .opacity {
      opacity:0.6;
    }
  }
}
