@media screen and (max-width: 800px){
  .games {
    grid-template-columns: repeat(auto-fit, minmax(auto, auto)) !important;
  }
}
.games {
  width: calc(100% + 14px);
  display: flex;
  flex-wrap: wrap;
  margin-left: -7px;
  margin-right: -7px;
}
