@media screen and (max-width: 800px){
  .games {
    grid-template-columns: repeat(auto-fit, minmax(auto, auto)) !important;
  }
}
.games {
  width: calc(100% + 14px);
  display: flex;
  flex-wrap: wrap;
  margin-left: -7px;
  margin-right: -7px;
  z-index:0;
}

.games-menu {
  background: var(--module);
  padding: .5rem 14px;
  z-index: 5;
  position: relative;
}

.game-list-container {
  display: flex; //To grid
}
.game-list {
  flex-grow: 1;
}