.rank-select {
    background: rgba(var(--themergb), 0.1);
    border: 2px solid var(--soft);
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    height: 2.5rem;
    cursor:pointer;
    transition:0.1s;
    z-index: 1;
    position: relative;
    min-width: 300px;
    &:hover {
      border: 2px solid rgba(var(--themergb), 0.6);
    }
    i {
      opacity: 0.75;
      margin-top: 2px;
    }
  }
  .rs-item {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    cursor:pointer;
  }
  .rs-list {
    position: absolute;
    overflow: hidden;
    top:2.4rem;
    z-index:2;
    background:var(--module);
    box-shadow: var(--boxshadow);
    width: 100%;
    border-right: 4px solid rgba(var(--themergb), 0.5);
    border-left: 4px solid rgba(var(--themergb), 0.5);
    left: 0;
    .rs-item {
      height: auto;
      box-sizing: border-box;
      padding: 0.7rem 1.5rem 0.7rem 1.5rem;
      &:hover {
        background: var(--soft);
      }
    }
  }
 