.rank-select {
    background: var(--module-soft1);
    border: 1px solid var(--module-soft2);
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    height: 2.5rem;
    cursor:pointer;
    transition:0.1s;
    z-index: 1;
    position: relative;
    min-width: 300px;
    &:hover {
      border: 1px solid var(--theme-soft3);
    }
    i {
      opacity: 0.75;
      margin-top: 2px;
    }
  }
  .rs-item {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    cursor:pointer;
  }
  .rs-list {
    position: absolute;
    overflow: hidden;
    top: 105%;
    z-index:2;
    background:var(--module);
    width: 100%;
    // border-right: 1px solid rgba(var(--themergb), 0.5);
    // border-left: 1px solid rgba(var(--themergb), 0.5);
    left: 0;
    .rs-item {
      height: auto;
      box-sizing: border-box;
      padding: 0.7rem 1.5rem 0.7rem 1.5rem;
      &:hover {
        background: var(--soft);
      }
    }
  }
 