.game-wrapper-container {
    width: 100%;
    padding-top: 20%;
    position: relative;
    @media screen and (max-width: 750px) {
        height: 160px;
        padding-top: 0;
    }
    .game-wrapper {
        position: absolute;
        top: 0;
        height: 100%;
    }
}
.game-wrapper {
    width: 100%;
    background: var(--module);
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.5s ease-out;
    color: white;
    * {
        z-index: 5;
    }
    img {
        &.wrapper-banner {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            object-position: center;
            overflow: hidden;
            opacity: .8;
            animation: appear 0.3s ease-in-out;
            z-index: 0;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        
    }
    .info-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 45px;
        @media screen and (max-width: 1250px) {
            padding-bottom: 0;
        }
        .info {
            margin-left: 1.5rem;
            text-shadow: 0 0 6px black, 0 1px 3px black;
            .name {
                font-size: 1.3rem;
                font-weight: 600;
                @media screen and (max-width: 800px) {
                    font-size: 1.2rem;
                }
            }
            .release {
                font-size: 1rem;
                opacity: 0.8;
            }
        }
        img.cover {
            border: 2px solid var(--soft);
            border-radius: 4px;
            height: 60%;
            margin-left: 60px;
            z-index: 5;
            box-shadow: 0 2px 6px rgba(0,0,0,.5);
            @media screen and (max-width: 800px) {
                margin-left: 15px;
                height: 70%;
            }
        }
    }
    
    &.editor {
        img.wrapper-banner {
            opacity: 0.8;
        }
        height: auto;
        .info-container{
            position: absolute;
            img.cover {
                height: 65%;
            }  
        }
    }
}

.account {
    .menu {
        width: 100%;
        overflow-x: visible;
        background: rgba(0,0,0,0.4);
        
        height: 45px;
        margin-top: -44px;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        position: relative;
        z-index: 6;
        @media screen and (max-width: 1250px) {
            margin-top: 0;
        }
        a,.menu-item {
            color: white;
            font-size: 16px;
            min-width: fit-content;
            height: 45px;
            height: 100%;
            font-weight: bold;
            border-bottom: 4px solid transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px 14px 0 14px;
            transition: 0.15s;
            opacity: 1;
            cursor: pointer;
            i {
                font-size: 1.4rem;
                margin-right: .4rem;
                
            }
        }
        a.active,.menu-item.active {
            color: var(--theme);
            border-bottom: 4px solid var(--theme);
            background: var(--soft);
            text-shadow: 0 0 3px rgba(0,0,0,.5);
        }
        a:hover,.menu-item:hover {
            color: var(--theme);
            text-decoration: none;
            border-bottom: 4px solid var(--theme);
        }
        
    }
}